:root {
    --primary-color: steelblue;
    --accent1-color: #fff;
    --secondary-color: #f2cc70;
    /* --accent2-color: #333; */

    --heading-font: "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);

}

nav a{
    
    color: var(--accent1-color);
    display: block;
    padding: 5px;
}

article {
    position: absolute;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

 .hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--accent1-color); 
}

.hero article img {
    float: right;
    width: 125px;
    right: 40px;
    margin-left: 16px;
}

.hero article {
    position: absolute;
    top: 120px;  
    left: 40px;
    background-color: var(--secondary-color);
    padding: 20px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
}

.socialmedia {
    display: flex;
    gap: 16px;
    justify-content: center;  
    align-items: center;
}

.socialmedia img {
    width: 42px;   
    height: auto;
}
