* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* width: 400px; */
    max-width: 640px;
    /* margin: 0 auto */
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 5px;
    display: block;
}

h1 {
    color: steelblue;
    padding: 10px
}

aside {
    width: 20em;
    margin: 0 auto;
    border: 2px solid #abe;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: relative;

}

aside img { 
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 12px;
    left: 40px;
    color: blue;
}


p { 
    padding: 0;
    margin: 1rem;
    }

footer {
    margin-top: 10px;
    border-top: 15px;
    text-align: center;
    background-color: #333;

}

/* Class Selector */

.box {
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 1.5rem;
}