* {
    margin: 0;
    padding: 0;
}

main {
    width: 400px;
    margin: 0 auto
}

aside {
    width: 400px;
    margin: 0 auto;
    border: 2px solid #abe;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

}

aside img { 
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p { padding: 0;}

footer {
    margin-top: 10px;
    border-top: 15px;
    text-align: center;
}