* {
    margin: 0;
    padding: 0;
}

main {
    width: 400px;
    max-width: auto;
    margin: 0 auto
}


nav {
    background-color: #fff;
    padding: 5px;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 2px;
    display: block;
}

h1 {
    color: #fff;
}

aside {
    width: 400px;
    margin: 0 auto;
    border: 2px solid #abe;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

}

aside img { 
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 0.5px;
    box-shadow: 5px 2px 4px #333;
}

p { padding: 0;}

footer {
    margin-top: 10px;
    border-top: 15px;
    text-align: center;
}